.DS_Store
.idea
.nyc_output
.vscode/chrome
bower_components
build
dist
node_modules
npm-debug.log
#gulp/**/*.js
src/**/*.js
test/components/**/*.js
test/scripts/**/*.js
#gulp/**/*.d.ts
src/**/*.d.ts
test/**/*.d.ts
yarn.lock
