<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="my-customer-elem">
  <template>
    <h1>Hello, <span>[[customer.name]]</span></h1>
    <h2>Age: <span>[[customer.age]]</span></h2>
    <div>
      <button id="increaseButton">+</button>
      <button id="decreaseButton">-</button>
    </div>
    <br/>
    <input id="nameTextField" placeHolder="new name"/>
    <button id="updateButton">update</button>
  </template>
</dom-module>

<script>System.import('components/my-customer-elem/my-customer-elem');</script>
